.ye{
    height: 150px;
    float: right;
    margin: 0 700px 0 0;
}
.yes{
    height: 100px;
    float: right;
    margin: 0 900px 0 0;
}
h1{
    font-size: 100px;
    background-color: brown;
}
li{
    font-size: 40px;
}
html{
    background-color:cadetblue;
}